<div class="hide-on-med-and-down">
    <li><a href="#top-team">Top Team</a></li>
    <li><a href="#list-team">List Team</a></li>
    <li><a href="#news">News Football</a></li>
    <li><a href="#favorite-team">Favorite Team</a></li>
</div>

<div class="hide-on-large-only">
    <li><a href="#top-team"><i class="material-icons right">chevron_right</i>Top team</a></li>
    <li><a href="#list-team"><i class="material-icons right">chevron_right</i>List Team</a></li>
    <li><a href="#news"><i class="material-icons right">chevron_right</i>News Football</a></li>
    <li><a href="#favorite-team"><i class="material-icons right">chevron_right</i>Favorite Team</a></li>
</div>
